.Pane {
    overflow: auto;
}
.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
.PAView {
    position: relative;
    top: 0rem; 
}

.subviewHeader {
    /* width: 100%; */
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
    background-color: #E7F3FC;
    z-index: 101;
    opacity: 1;
    padding: 1rem;
    border-radius: 10px;
}
.subviewHeader:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  
}
.subviewHeader button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}
.pdfDiv {
    position: relative;
}
@media (min-width: 768px){
    
    .leftCol {
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;

    }
    .rightCol {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        height: 100%;

    }
    .leftAndRightCol {
        position: absolute;
        top: 3.5rem;
        height: calc(100% - 3.5rem);
        width: 100%;
    }

}

.formSubmission {
    padding: 1rem;
}

.submitButton {
    display: block;
    margin-top: 1rem;
}
