.rejectionTitle {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.parentDiv {
    padding: 1.5rem;
}

.claimBlock {
    padding-bottom: 2rem;
}

.anchor {
    display: block;
    position: relative;
    /* header height */
    top: -3.5rem;
    visibility: hidden;
}
