.OaMetadata {
    text-align: center;
    padding-top: 1rem;
    color: #253D52;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.metadataTitle {
    text-decoration-line: underline;
}

.divider {
    border: 1px solid rgba(0, 0, 0, 0.22);
}

.rejectionType {
    padding-bottom: 1rem;
}