.bookmark {
    background-color: #E7F3FC;
}
.row {
    height:100%;
    /* overflow: hidden; */
}
@media (min-width: 768px){
    
    .leftCol {
        position: absolute;
        top: 3.5rem;
        bottom: 0;
        left: 0;
        width: 8%;
    }
    .middleCol {
        position: absolute;
        top: 3.5rem;
        bottom: 0;
        left: 8%; 
        width: 67%;
        overflow-y: scroll; 
    
        /* width: 46%; in subview, width should be smaller */

    }
    .rightCol {
        position: absolute;
        top: 3.5rem;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        width: 25%;
        /* width: 46%; in subview, width should be bigger*/

    }
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
