.card {
    margin: 1rem;
    width: 95%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FBFBFB;
}

.PAView {
    position: relative;
    top: 0rem; 
}

.pdfControls {
    text-align: center;
}
.cardImg {
    padding: 0.3rem;
}
.cardHeader {
    font-weight: bold;
    text-decoration-line: underline;
    color: #253D52;
    background-color: #E7F3FC;
}
.cardBody {
    font-size: 0.9rem;
}
.cardAssignee {
    color: #0D904F;
}
