.card {
    margin: 1rem;
    width: 95%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FBFBFB;
}

.PAView {
    position: relative;
    top: 0rem; 
}

.subviewHeader {
    /* width: 100%; */
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: white;
    z-index: 99;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;


}
.subviewHeader button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}
.subviewHeader:hover {
    opacity: 1.0;
}


.cardImg {
    padding: 0.3rem;
}
.cardHeader {
    font-weight: bold;
    text-decoration-line: underline;
    color: #253D52;
    background-color: #E7F3FC;
}
.cardBody {
    font-size: 0.9rem;
}
.cardAssignee {
    color: #0D904F;
}
