.about {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'EB Garamond', serif;

}
.privacy {
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    width: 800px;

}
.privacy h4 {
    margin-top: 0.8rem;
}
.header {
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 5rem;
}
.profile {
    margin-top: 1rem;
    border-radius: 50%;
}
.name {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    font-family: sans-serif;

}
.blurb {
    font-size: 1rem;
    text-align: left;
    margin: 0.5rem;
}
.about > p {
    font-family: sans-serif;
}

@media (min-width: 700px) {
    .about {
        padding-left: 13rem;
        padding-right: 13rem;
    
    }

}