.accountDiv {
    position: relative;
    top: 0.5rem;  
    font-family: Inter, sans-serif;
  
  }
  .accountDiv > Button {
    margin-left: 0.5rem;
  }
  .headerBar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
    align-items : center;
    justify-content: center;

  }
  
@media (min-width: 700px) {
  .accountDiv {
    position: absolute;
    right: 1rem;
    top: 0.5rem;  
    font-family: Inter, sans-serif;
  
  }

  .headerBar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
    height: 3.5rem;
  
    align-items : center;
    justify-content: center;
  }


 }