.homeLayout {
    width: 100%;
    text-align: center;

}

.uploadOa {
}

.oaList {
    padding: 1rem;
    text-align: left;
}
.columnHeader {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.oaTable {
    margin-top: 1rem;
}
.oaColumn {
    float: left;
    width: 65%;
    padding-left: 1rem;
}
.procNotice {
    color:gray;
    font-size: smaller;
    margin-bottom: 1rem;
}
.processingColumn {
    float: left;
    width: 30%;
    background-color: #E7F3FC;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 2rem;
}