.OaMetadata {
    text-align: center;
    padding-top: 1rem;
    color: #253D52;
    font-size: 0.9rem;
    line-height: 1.3rem;
    position: sticky;
    position: -webkit-sticky;
    /* same as navbar height */
    top: 3.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.metadataTitle {
    text-decoration-line: underline;
}

.divider {
    border: 1px solid rgba(0, 0, 0, 0.22);
}

.rejectionType {
    padding-bottom: 1rem;
}
.external::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
  