.card {
    margin: 1rem;
    width: 95%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FBFBFB;
}

.PAView {
    position: relative;
    top: 0rem; 
}

.subviewHeader {
    /* width: 100%; */
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
    background-color: #E7F3FC;
    z-index: 101;
    opacity: 0;
    padding: 1rem;
    border-radius: 10px;
}
.subviewHeader:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  
}
.pageMetadata {
    color: gray;
    margin-bottom: 0.8rem;
}
.subviewHeader button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}

.cardImg {
    padding: 0.3rem;
}
.cardHeader {
    font-weight: bold;
    text-decoration-line: underline;
    color: #253D52;
    background-color: #E7F3FC;
}
.cardBody {
    font-size: 0.9rem;
}
.cardAssignee {
    color: #0D904F;
}
.pdfDiv {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.custom-dialog { max-width: 65% !important; }